@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root {
  --body-color: #111;
  --white-color: #fff;
  --blue-color: #00f;
  
  --body-font: "Pixelify Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: var(--body-color);
  color: var(--white-color);
  font-family: var(--body-font);
}

.game-title {
  color: var(--blue-color);
  text-align: center;
  margin-top: 48px;
}

.game-canvas {
  border: 1px solid var(--white-color);
  margin: 32px auto 52px;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.arrow {
  background-color: transparent;
  border: none;
}

.up span {
  display: block;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-bottom: 30px solid var(--white-color);
}

.down span {
  display: block;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-top: 30px solid var(--white-color);
}

.right span {
  display: block;
  border-top: 45px solid transparent;
  border-bottom: 45px solid transparent;
  border-left: 30px solid var(--white-color);
}

.left span {
  display: block;
  border-top: 45px solid transparent;
  border-bottom: 45px solid transparent;
  border-right: 30px solid var(--white-color);
}

.middle-controls {
  display: flex;
  gap: 8px;
}

.status {
  width: 100px;
  height: 100px;
  background-color: var(--white-color);
  color: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
